USE [master]
GO
/****** Object:  Database [LTHD_WebLaptop]    Script Date: 08/12/2015 22:48:23 ******/
CREATE DATABASE [LTHD_WebLaptop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LTHD_WebLaptop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\LTHD_WebLaptop.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LTHD_WebLaptop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\LTHD_WebLaptop_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LTHD_WebLaptop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LTHD_WebLaptop]
GO
/****** Object:  Table [dbo].[CT_DonDH]    Script Date: 08/12/2015 22:48:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DonDH](
	[Id_DonDH] [int] NOT NULL,
	[Id_SP] [int] NOT NULL,
	[DonGia] [float] NOT NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK_CT_DonDH] PRIMARY KEY CLUSTERED 
(
	[Id_DonDH] ASC,
	[Id_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DonDH]    Script Date: 08/12/2015 22:48:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonDH](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NgayDat] [date] NOT NULL,
	[NgayGiao] [date] NOT NULL,
	[TongTien] [float] NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[DienThoai] [nchar](11) NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
	[Id_TinhTrang] [int] NOT NULL,
	[Id_NguoiDung] [int] NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_DonDH] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 08/12/2015 22:48:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MatKhau] [nvarchar](max) NOT NULL,
	[Id_Quyen] [int] NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[DienThoai] [nchar](11) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[KichHoat] [int] NOT NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 08/12/2015 22:48:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenNhaCC] [nvarchar](50) NOT NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 08/12/2015 22:48:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[Id_PhieuNhap] [int] IDENTITY(1,1) NOT NULL,
	[NgayNhap] [datetime] NOT NULL,
	[Id_SP] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK_PhieuNhap] PRIMARY KEY CLUSTERED 
(
	[Id_PhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 08/12/2015 22:48:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyen](
	[Id] [int] NOT NULL,
	[TenQuyen] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Quyen] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 08/12/2015 22:48:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](50) NOT NULL,
	[Id_NCC] [int] NOT NULL,
	[HDD] [nvarchar](50) NOT NULL,
	[RAM] [nvarchar](50) NOT NULL,
	[CPU] [nvarchar](50) NOT NULL,
	[DonGia] [float] NOT NULL,
	[HinhAnh] [nchar](20) NOT NULL,
	[BaoHanh] [nvarchar](50) NOT NULL,
	[LuotXem] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TinhTrangDonDH]    Script Date: 08/12/2015 22:48:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhTrangDonDH](
	[Id] [int] NOT NULL,
	[TinhTrang] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TinhTrangDonDH] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TonKho]    Script Date: 08/12/2015 22:48:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TonKho](
	[NgayThang] [date] NOT NULL,
	[Id_SP] [int] NOT NULL,
	[SoLuongTon] [int] NOT NULL,
 CONSTRAINT [PK_TonKho] PRIMARY KEY CLUSTERED 
(
	[NgayThang] ASC,
	[Id_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CT_DonDH] ([Id_DonDH], [Id_SP], [DonGia], [SoLuong]) VALUES (4, 3, 14000000, 3)
INSERT [dbo].[CT_DonDH] ([Id_DonDH], [Id_SP], [DonGia], [SoLuong]) VALUES (5, 2, 10000000, 1)
INSERT [dbo].[CT_DonDH] ([Id_DonDH], [Id_SP], [DonGia], [SoLuong]) VALUES (5, 3, 14000000, 1)
SET IDENTITY_INSERT [dbo].[DonDH] ON 

INSERT [dbo].[DonDH] ([Id], [NgayDat], [NgayGiao], [TongTien], [HoTen], [DiaChi], [DienThoai], [GhiChu], [Id_TinhTrang], [Id_NguoiDung], [TrangThai]) VALUES (4, CAST(0x39390B00 AS Date), CAST(0x3E390B00 AS Date), 42000000, N'dadsds', N'dadsada', N'01234567892', N'Gọi trước khi giao hàng', 1, 0, 0)
INSERT [dbo].[DonDH] ([Id], [NgayDat], [NgayGiao], [TongTien], [HoTen], [DiaChi], [DienThoai], [GhiChu], [Id_TinhTrang], [Id_NguoiDung], [TrangThai]) VALUES (5, CAST(0x39390B00 AS Date), CAST(0x3E390B00 AS Date), 24000000, N'b', N'bbbb', N'43243243222', N'fsdfsdf', 1, 0, 0)
INSERT [dbo].[DonDH] ([Id], [NgayDat], [NgayGiao], [TongTien], [HoTen], [DiaChi], [DienThoai], [GhiChu], [Id_TinhTrang], [Id_NguoiDung], [TrangThai]) VALUES (6, CAST(0x3A390B00 AS Date), CAST(0x3F390B00 AS Date), 78500000, N'Phan Thanh Minh', N'123 Nguyễn Du', N'01231231232', N'Giao hàng buổi trưa', 0, 0, 0)
SET IDENTITY_INSERT [dbo].[DonDH] OFF
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([Id], [MatKhau], [Id_Quyen], [HoTen], [DiaChi], [DienThoai], [Email], [KichHoat], [TrangThai]) VALUES (14, N'123456', 2, N'Nguyễn Thị Quỳnh', N'Nguyễn Trãi', N'01135453215', N'nguyenthiquynh.1112@gmail.com', 1, 0)
INSERT [dbo].[NguoiDung] ([Id], [MatKhau], [Id_Quyen], [HoTen], [DiaChi], [DienThoai], [Email], [KichHoat], [TrangThai]) VALUES (15, N'123456', 1, N'Văn Quốc Phát', N'123 Nguyễn Trãi', N'01234561231', N'dtphong@gmail.com', 1, 0)
INSERT [dbo].[NguoiDung] ([Id], [MatKhau], [Id_Quyen], [HoTen], [DiaChi], [DienThoai], [Email], [KichHoat], [TrangThai]) VALUES (28, N'1234', 0, N'sfsdf', N'sdfsd', N'221        ', N'21221', 1, 0)
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON 

INSERT [dbo].[NhaCungCap] ([Id], [TenNhaCC], [TrangThai]) VALUES (1, N'HP', 0)
INSERT [dbo].[NhaCungCap] ([Id], [TenNhaCC], [TrangThai]) VALUES (2, N'Dell', 0)
INSERT [dbo].[NhaCungCap] ([Id], [TenNhaCC], [TrangThai]) VALUES (4, N'Samsung', 0)
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
SET IDENTITY_INSERT [dbo].[PhieuNhap] ON 

INSERT [dbo].[PhieuNhap] ([Id_PhieuNhap], [NgayNhap], [Id_SP], [SoLuong]) VALUES (1, CAST(0x0000A3E100000000 AS DateTime), 1, 10)
INSERT [dbo].[PhieuNhap] ([Id_PhieuNhap], [NgayNhap], [Id_SP], [SoLuong]) VALUES (4, CAST(0x0000A3E100000000 AS DateTime), 2, 10)
INSERT [dbo].[PhieuNhap] ([Id_PhieuNhap], [NgayNhap], [Id_SP], [SoLuong]) VALUES (5, CAST(0x0000A3E100000000 AS DateTime), 3, 10)
SET IDENTITY_INSERT [dbo].[PhieuNhap] OFF
INSERT [dbo].[Quyen] ([Id], [TenQuyen]) VALUES (0, N'User      ')
INSERT [dbo].[Quyen] ([Id], [TenQuyen]) VALUES (1, N'Admin     ')
INSERT [dbo].[Quyen] ([Id], [TenQuyen]) VALUES (2, N'SuperAdmin')
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([Id], [TenSP], [Id_NCC], [HDD], [RAM], [CPU], [DonGia], [HinhAnh], [BaoHanh], [LuotXem], [SoLuong], [TrangThai]) VALUES (1, N'Acer 01', 6, N'500GB', N'4GB', N'Intel Core I7', 12500000, N'acer_01.jpg         ', N'12 tháng', 11, 0, 0)
INSERT [dbo].[SanPham] ([Id], [TenSP], [Id_NCC], [HDD], [RAM], [CPU], [DonGia], [HinhAnh], [BaoHanh], [LuotXem], [SoLuong], [TrangThai]) VALUES (2, N'Acer 02', 6, N'500GB', N'4GB', N'Intel Core I3', 10000000, N'acer_02.jpg         ', N'12 tháng', 23, 10, 0)
INSERT [dbo].[SanPham] ([Id], [TenSP], [Id_NCC], [HDD], [RAM], [CPU], [DonGia], [HinhAnh], [BaoHanh], [LuotXem], [SoLuong], [TrangThai]) VALUES (3, N'HP 01', 1, N'500GB', N'4GB', N'Intel Core I5', 14000000, N'hp_01.jpg           ', N'12 tháng', 5, 10, 0)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
INSERT [dbo].[TinhTrangDonDH] ([Id], [TinhTrang]) VALUES (0, N'Chưa giao')
INSERT [dbo].[TinhTrangDonDH] ([Id], [TinhTrang]) VALUES (1, N'Đã giao ')
INSERT [dbo].[TonKho] ([NgayThang], [Id_SP], [SoLuongTon]) VALUES (CAST(0x1B390B00 AS Date), 1, 12)
INSERT [dbo].[TonKho] ([NgayThang], [Id_SP], [SoLuongTon]) VALUES (CAST(0x1B390B00 AS Date), 2, 10)
INSERT [dbo].[TonKho] ([NgayThang], [Id_SP], [SoLuongTon]) VALUES (CAST(0x1B390B00 AS Date), 3, 5)
ALTER TABLE [dbo].[CT_DonDH]  WITH CHECK ADD  CONSTRAINT [FK_CT_DonDH_DonDH1] FOREIGN KEY([Id_DonDH])
REFERENCES [dbo].[DonDH] ([Id])
GO
ALTER TABLE [dbo].[CT_DonDH] CHECK CONSTRAINT [FK_CT_DonDH_DonDH1]
GO
ALTER TABLE [dbo].[CT_DonDH]  WITH CHECK ADD  CONSTRAINT [FK_CT_DonDH_SanPham1] FOREIGN KEY([Id_SP])
REFERENCES [dbo].[SanPham] ([Id])
GO
ALTER TABLE [dbo].[CT_DonDH] CHECK CONSTRAINT [FK_CT_DonDH_SanPham1]
GO
ALTER TABLE [dbo].[DonDH]  WITH CHECK ADD  CONSTRAINT [FK_DonDH_TinhTrangDonDH1] FOREIGN KEY([Id_TinhTrang])
REFERENCES [dbo].[TinhTrangDonDH] ([Id])
GO
ALTER TABLE [dbo].[DonDH] CHECK CONSTRAINT [FK_DonDH_TinhTrangDonDH1]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDung_Quyen1] FOREIGN KEY([Id_Quyen])
REFERENCES [dbo].[Quyen] ([Id])
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [FK_NguoiDung_Quyen1]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_SanPham] FOREIGN KEY([Id_SP])
REFERENCES [dbo].[SanPham] ([Id])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_SanPham]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_NhaCungCap1] FOREIGN KEY([Id_NCC])
REFERENCES [dbo].[NhaCungCap] ([Id])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_NhaCungCap1]
GO
ALTER TABLE [dbo].[TonKho]  WITH CHECK ADD  CONSTRAINT [FK_TonKho_SanPham1] FOREIGN KEY([Id_SP])
REFERENCES [dbo].[SanPham] ([Id])
GO
ALTER TABLE [dbo].[TonKho] CHECK CONSTRAINT [FK_TonKho_SanPham1]
GO
USE [master]
GO
