@using LTHD_MVC.Models;

@{
    Layout = "~/Views/TrangChu/Layout.cshtml";
    ViewBag.Title = "Index";
}
<div style="text-align: center">
    <p style="color:red">
        Quý khách đã đăng kí thành công tài khoản. Xin cảm ơn quý khách.
    </p>
</div>

