@using LTHD_MVC.Models;

@{
    Layout = "~/Views/TrangChu/Layout.cshtml";
    ViewBag.Title = "Thế giới máy tính";
    List<SanPham> ListSanPham = (List<SanPham>)ViewBag.ListSanPham;
    }

@foreach (SanPham sp in ListSanPham)
{
    <div class="col-md-3" style="border-radius: 10px; border: 1px solid;  margin: 20px">
        <p style="color:red; font-weight:bold; text-align:center; font-size:20px;">@sp.TenSP</p>
        <div style="margin-top:20px; text-align:center;"><img src="~/Hinh/MayTinh/sanpham/@sp.HinhAnh" width="120" height="120" /></div>
        <p style="color:red; font-weight:bold; text-align:center;"> Giá: @sp.DonGia VND</p>
        <a href="/TrangChu/ChiTietSanPham/@sp.Id" class="btn btn-success" style="margin-bottom:15px;">Chi tiết</a>
        <a href="/TrangChu/ThemVaoGioHang/@sp.Id" class="btn btn-primary" style="margin-bottom:15px;">Thêm giỏ</a>    
    </div>
}

