@using LTHD_MVC.Models;

@{
    Layout = "~/Views/TrangChu/Layout.cshtml";
    ViewBag.Title = "Index";
}

<div style="text-align: center">
    <p style="color:red">
        1. Nguyễn Thị Quỳnh - 01688546295 <br /><br />
        2. Văn Quốc Phát - 123456789 <br /><br />

        Địa chỉ liên hệ: 273 An Dương Vương, Phường 03 Quận 05 Thành phố Hồ Chí Minh.</p>
        <img src="~/Hinh/BanDo/bando.PNG" />
</div>

