@using LTHD_MVC.Models;
@{
    ViewBag.Title = "Thêm phiếu nhập - Quản lý phiếu nhập - Admin Control Panel - Thế giới máy tính";
    ViewBag.BreadCrumb = "Quản lý phiếu nhập - Thêm phiếu nhập";
    ViewBag.ClassPhieuNhap = "active";
    Layout = "~/Views/QuanLy/Layout.cshtml";
    List<SanPham> ListSanPham = (List<SanPham>)ViewBag.ListSanPham;
}
<div class="row">
    <div class="col-xs-12">
        <form class="form-horizontal" id="FormThemMoi">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-nhacungcap"> Tên sản phẩm </label>
                <div class="col-sm-9">
                    <select class="col-xs-10 col-sm-5" name="sanpham">
                        @foreach (SanPham sp in ListSanPham)
                        {
                            <option value="@sp.Id">@sp.TenSP</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Ngày nhập </label>
                <div class="col-sm-9">
                    <input type="date" name="ngaynhap" class="col-xs-10 col-sm-5" data-date-format="dd-mm-yyyy" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Số lượng </label>
                <div class="col-sm-9">
                    <input type="number" name="soluong" min="1" value="1" class="col-xs-4 col-sm-2" required />
                </div>
            </div>
            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info no-border" type="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        Thêm mới
                    </button>

                    &nbsp; &nbsp; &nbsp;
                    <button class="btn no-border" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        Làm lại
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#FormThemMoi').submit(function () {
            $.ajax({
                url: '/QuanLy/PhieuNhap/XuLyThemPhieuNhap',
                type: 'POST',
                data: new FormData(this),
                cache: false,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data == 1) {
                        BootstrapDialog.confirm('Thêm thành công, bạn có muốn tiếp tục thêm?', function (result) {
                            if (result) {
                                $('#FormThemMoi')[0].reset();
                                $('.remove').click();
                                $('#tenPhieuNhap').focus();
                            } else {
                                location.href = '/QuanLy/PhieuNhap';
                            }
                        });

                    }
                    else {
                        BootstrapDialog.alert('Có lỗi trong khi thêm, vui lòng thử lại!');
                    }
                }
            });
            return false;
        });
    });
</script>