@{
    ViewBag.Title = "Thêm Sản Phẩm - Quản lý sản phẩm - Admin Control Panel - Thế giới máy tính";
    ViewBag.BreadCrumb = "Quản lý sản phẩm - Thêm Sản Phẩm";
    ViewBag.ClassSanPham = "active";
    Layout = "~/Views/QuanLy/Layout.cshtml";
}
<div class="row">
    <div class="col-xs-12">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-tensanpham"> Tên sản phẩm </label>
                <div class="col-sm-9">
                    <input type="text" id="form-field-tensanpham" placeholder="Tên sản phẩm" class="col-xs-10 col-sm-5" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-tensanpham"> Tên sản phẩm </label>
                <div class="col-sm-9">
                    <select class="form-control" id="form-field-select-1">

                    </select>
                </div>
            </div>
        </form>
    </div>
</div>