@{
    ViewBag.Title = "Admin Control Panel - Thế giới máy tính";
    ViewBag.BreadCrumb = "Thống kê";
    ViewBag.ClassThongKe = "active";
    Layout = "~/Views/QuanLy/Layout.cshtml";
}

<h2>Thống kê</h2>
