@using LTHD_MVC.Models;

@{
    Layout = "~/Views/Index/Layout.cshtml";
    ViewBag.Title = "Index";
}
<div style="text-align: center">
    <p style="color:red">
        Cám ơn quý khách đã tin tưởng lựa chọn sản phẩm của chúng tôi.<br />
        Chúng tôi cam kết bảo hành 1 đổi 1 trong vòng 24 tiếng kể từ khi quý khách mua hàng.<br />
        Sản phẩm bảo hành phải còn nguyên tem, có hóa đơn chính thức của cửa hàng. <br />
        Chúc quý khách một ngày mua sắm vui vẻ. Xin chào quý khách.<br />
        </p>
</div>   