@{
    Layout = "~/Views/Index/Layout.cshtml";
    ViewBag.Title = "Dangky";
}
<div style="width:50%;">
    <h3 style="margin-left:190px; ">Đăng kí tài khoản</h3>
    <form id="Formdangky">
        <table style="margin-left:130px;">
            <tr>
                <td colspan=2>
            <p style="font-weight: bold; margin-top: 20px;">Họ Tên:</p>
            </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input name="HoTen" id="HoTen" style="width:400px;" type="text" class="form-control" required>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p style="font-weight: bold; margin-top: 20px;">Hãy chọn tên người dùng của bạn:</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input name="Email" id="Email" style="width:400px;" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; example.com" type="text" class="form-control" required>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p style="font-weight: bold; margin-top: 20px;">Mật khẩu:</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input name="MatKhau" id="MatKhau" style="width:400px;" type="password" class="form-control" >
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p style="font-weight: bold; margin-top: 20px;">Xác nhận mật khẩu:</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input name="XacNhanMatKhau" id="XacNhanMatKhau" style="width:400px;" type="password" class="form-control" >
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p style="font-weight: bold; margin-top: 20px;">Ngày Sinh:</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input style="width:400px;" type="date" name="NGAYSINH" id="NGAYSINH" data-date-format="DD MM YYYY" class="form-control">
                </td>
            </tr>
            <tr>
            <tr>
                <td colspan="2">
                    <p style="font-weight: bold; margin-top: 20px;">Địa chỉ:</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input style="width:400px;" type="text" class="form-control" name="DiaChi" id="DiaChi">
                </td>
            </tr>
            <tr>
                <td>
                    <p style="font-weight: bold; margin-top: 20px;">Số điện thoại:</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input style="width:400px;" type="text" class="form-control" name="DienThoai" id="DienThoai">
                </td>
            </tr>
            <tr>
                <td>
                    <input onclick="DangKy();" name="submit" type="button" value="Đăng ký" class="btn btn-primary" style="margin-top:20px; margin-left:160px;">
                </td>
            </tr>
        </table>
    </form>
</div>
<script>
    function DangKy() {
        var matkhau = $('#MatKhau').val();
        var xacnhanmatkhau = $('#XacNhanMatKhau').val();

        if (matkhau != xacnhanmatkhau) {
            alert("Mật khẩu không khớp, vui lòng kiểm tra lại");
            return false;
        }

        var email = $('#Email').val();

        if (!validateEmail(email)) {
            alert("Email không hợp lệ, vui lòng kiểm tra lại");
            $('#Email').focus();
            return false;
        }

        $.ajax({
            url: "/Index/XuLyDangKy",
            type: 'POST',
            data: $("#Formdangky").serialize(),
            success: function (data) {
                $('#myModal').modal('hide');

                if (data == 1) {
                    BootstrapDialog.alert('Đăng ký thành công', function () {
                        location.href = '/Index';
                    });
                }
                if (email = "#Email")
                {

                }
                else {
                    BootstrapDialog.alert('Có lỗi trong khi đăng ký');
                }
            },
        });
        return false;
    }

    function validateEmail(Email) {
        var re = /^(([^<>()[\]\\.,;:\s@@"]+(\.[^<>()[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(Email);
    }
</script>

