@using LTHD_MVC.Models;

@{
    Layout = "~/Views/Index/Layout.cshtml";
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html lang="en">
<body>
    
    <div class="col-md-12">
        <h2 style="text-align:center; margin-bottom:30px;">Giỏ hàng của bạn</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Giá tiền</th>
                    <th>Tổng tiền</th>
                    <th>Xóa</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>SamSung</td>
                    <td>1</td>
                    <td>1000000</td>
                    <td>1000000</td>
                    <td><input  type="checkbox" name="dIds[]" value="436452" style="margin-top:10px; text-align:center;"></td>
                    
                </tr>
                <tr>
                    <td>Tổng tiền:</td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" style="margin-bottom: 15px;">Tiếp tục mua hàng</button>   
    </div>

</body>
</html>