@using LTHD_MVC.Models;

@{
    Layout = "~/Views/Index/Layout.cshtml";
    ViewBag.Title = "Index";
}
<div style="text-align: center">
    <p style="color:red">
        Website chuyên cung cấp các sản phẩm về laptop cho khách hàng.
        Khách hàng tham quan website có thể lựa chọn các loại sản phẩm ưng ý cho mình.
        Chúng tôi cam kết cung cấp các sản phẩm chính hãng, giá cả hợp lý và có chính sách phục vụ tốt nhất cho quý vị.
    </p>
</div>
